<div id="like_<%= picture.id %>">
  <% if user_signed_in? %>
    <% if picture.like_user(current_user.id) %>
      <%= button_to picture_like_path(picture.likes, picture_id: picture.id), method: :delete, id: "like-button", class: 'btn btn-default', remote: true do %>
        <i class="fa fa-heart" aria-hidden="true"></i>
        <%= picture.likes_count %>
      <% end %>
    <% else %>
      <%= button_to picture_likes_path(picture), id: "like-button", class: 'btn btn-default', remote: true do %>
        <i class="fa fa-heart-o" aria-hidden="true"></i>
        <%= picture.likes_count %>
      <% end %>
    <% end %>
  <% else %>
    <i class="fa fa-heart-o" aria-hidden="true"></i>
    <%= picture.likes_count %>
  <% end %>
</div>